# Git
.git
.gitignore

# Docker
.docker

# Python
mynotes/__pycache__/
mynotes/*/__pycache__/
mynotes/*/*/__pycache__/
mynotes/*/*/*/__pycache__/
.env/
.venv/
venv/

# Local PostgreSQL data
data/# Elastic Beanstalk Files
.elasticbeanstalk/*
.git
.gitignore